<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${article.title}">技术交流社区</title>
    <!-- <head th:insert="~{import :: head}"></head>
    <head th:insert="~{import :: markdown}"></head>-->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/editormd.preview.min.css"/>
    <link rel="icon" href="../images/logo.png" type="img/x-icon"/>
    <script src="/js/jquery.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js" ></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main home">
    <div class="row">
        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--            正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="article-title"><span th:text="${article.title}"></span></h4>
                <span class="text-desc">
                        作者：<span th:text="${article.user.getName()}"></span> |
                        阅读数：<span th:text="${article.viewCount}"></span>个浏览 |
                        发布时间：<span th:text="${#dates.format(article.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- 内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="article-view">
                    <textarea style="display:none;" th:text="${article.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        editormd.markdownToHTML("article-view", {});
                    });
                </script>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- 标签-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info article-tag" th:each="tag : ${article.tag.split(',')}">
                        <a th:href="@{/(page=1,tag=${tag})}" th:text="${tag}" class="glyphicon glyphicon-tags"></a>
                    </span>
                </div>
                <!-- 编辑-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${article.id}}" class="community-menu"
                       th:if="${session.user!=null&&session.user.id==article.creator}">
                        <span class="glyphicon glyphicon-pencil"aria-hidden="true">编辑</span>
                    </a>
                </div>
            </div>
            <!-- 一级评论-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <sapn th:text="${article.commentCount}"></sapn>
                    个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                    <div class="media">
                        <!-- 头像 -->
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-thumbnail"
                                     th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <!-- 名字 -->
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <!-- 评论内容 -->
                            <div th:text="${comment.content}"></div>
                            <div class="menu">
                                <!-- 点赞按钮-->
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span th:data-id="${comment.id}" onclick="collapseComments(this)"
                                      class="comment-icon icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                                <!-- 评论时间 -->
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                            </div>
                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">
                                <!--二级评论回复框-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下……"
                                           th:id="${'input-'+comment.id+comment.parentId}">
                                    <button type="button" class="btn btn-primary pull-right" onclick="comment(this)"
                                            th:data-id="${comment.id}" th:data-parentId="${comment.parentId}">评论
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>作者</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 th:src="${article.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <a th:href="@{'/article/'+${article.id}}" th:text="${article.user.getName()}"></a>
                        </h5>
                    </div>
                </div>
            </div>

            <hr class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <li th:each="related : ${relatedQuestions}">
                    <a th:href="@{'/article/'+ ${related.id}}" th:text="${related.title}"></a>
                </li>
            </div>
            <!--推荐学习-->
            <hr class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
                <h4>推荐学习</h4>
                <div class="row">
                    <div class="col-sm-6 col-md-4 article-notice">
                        <div class="thumbnail">
                            <a href="https://www.runoob.com/" target="_blank">
                                <img src="/img/1.png" alt="菜鸟教程">
                            </a>
                            <div class="caption">
                                <h4>学的不仅是技术，更是梦想！</h4>
                                <!--                        <p>提供了大量的在线实例，通过实例，可以更好地学习如何建站。-->
                                <!--                            致力于推广各种编程语言技术，所有资源是完全免费的，并且会根据当前互联网的变化实时更新本站内容</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--推荐区-->
<!--            <div th:insert="~{notice :: notice}"></div>-->
        </div>
    </div>
    <!--            回复输入框-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>
            提交回复
        </h4>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             th:src="${session.user != null ? session.user.avatarUrl : '/img/default_avatar.png'}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <a th:href="@{'/article/'+${article.id}}" th:text="${session.user != null ? session.user.name : '未登录用户'}"></a>
                    </h5>
                </div>
            </div>
            <input type="hidden" id="question_id" th:value="${article.id}">
            <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
            <button type="button" class="btn btn-primary btn-comment" onclick="post()">回复</button>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>