<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>技术交流社区</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <link rel="icon" href="../images/logo.png" type="img/x-icon"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>

<script type="application/javascript">
    var oldTime = new Date().getTime();
    var newTime = new Date().getTime();
    var outTime = 16* 60 * 1000; //设置超时时间： 8分钟

    $(function(){
        /* 鼠标移动事件 */
        $(document).mouseover(function(){
            oldTime = new Date().getTime(); //鼠标移入重置停留的时间

        });
    });

    function OutTime(){
        newTime = new Date().getTime(); //更新未进行操作的当前时间
        if(newTime - oldTime > outTime){ //判断是否超时不操作
            console.log("时间到，退出登录");
            window.location.href="/logout";
        }
    }

    /* 定时器  判断每5秒是否长时间未进行页面操作 */
    window.setInterval(OutTime, 5000);
</script>
<body>
<!-- 上方导航栏-->
<div th:insert="~{navigation::nav}"></div>
<!-- 下方文章区域-->
<div class="container-fluid main">
    <div class="row">
        <!--左边文章列表区-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>最新好文</h3>
            <!--分隔线-->
            <hr>
            <div class="media" th:each="article:${pageDTO.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             th:src="${article.user.avatarUrl}" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/article/'+${article.id}}" th:text="${article.title}"></a>
                    </h4>
<!--                    <span th:text="${article.description}"></span><br>-->
                    <span class="text-desc">
                        <span th:text="${article.commentCount}"></span>个回复·
                        <span th:text="${article.viewCount}"></span>个浏览·
                        <span th:text="${#dates.format(article.gmtModified,'yyyy-MM-dd HH:mm')}"></span>更新
                    </span>
                </div>
            </div>

            <!-- 分页 -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageDTO.showFirst}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showPre}">
                        <a th:href="@{/(page=${pageDTO.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pageDTO.pages}" th:class="${pageDTO.page==page}?'active':''">
                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pageDTO.showNext}">
                        <a th:href="@{/(page=${pageDTO.page+1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageDTO.showLast}">
                        <a th:href="@{/(page=${pageDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--右边热门文章区-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>热门文章</h3>
            <ul class="list-group">
                <li class="list-group-item"  th:each="article:${toparticle}">
                    <a th:href="@{'/article/'+${article.id}}" th:text="${article.title}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>