<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="notice">
    <!--推荐学习-->
    <hr class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>推荐学习</h4>
        <div class="row">
            <div class="col-sm-6 col-md-4 question-notice">
                <div class="thumbnail">
                   <a href="https://www.runoob.com/" target = "_blank">
                       <img src="/img/1.png" alt="菜鸟教程">
                   </a>
                    <div class="caption">
                        <h4>学的不仅是技术，更是梦想！</h4>
                        <p>提供了大量的在线实例，通过实例，可以更好地学习如何建站。
                            致力于推广各种编程语言技术，所有资源是完全免费的，并且会根据当前互联网的变化实时更新本站内容</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
