<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文章发布-技术交流社区</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<!-- 上方导航栏 -->
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <!--左边编辑区-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>发起</h3>
            <!-- 横线分隔 -->
            <hr>
            <!-- 通过post的方式路由，当提交表单的时候会路由到publish -->
            <form action="/publish" method="post">
                <!-- 下行值用来传递文章id-->
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">文章标题（简单扼要）：</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="文章标题">
                </div>
                <div class="form-group">
                    <label for="title">文章内容（详细清晰）：</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control"
                              cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="标签">
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <!-- 未登录提示 -->
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}" th:if="${error}!=null">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <!-- 提交按钮 -->
                            <button type="submit" class="btn btn-success" style="float: right;margin-bottom: 15px">发布
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--右边提示区-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>文章发布指南</h3>
            ·文章标题：不超过25个字<br>
            ·文章内容：详细书写文章内容，逻辑清晰、语言简洁<br>
            ·标签：可以选择多个标签<br>
        </div>
    </div>
</div>
</body>
</html>